@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins) !important;
}

@theme {
  --color-primary: #db2777;
  --color-primary-light: #f472b6;
  --color-primary-dark: #be185d;
  --color-grey: #363636;
}

@layer base {
  .prose h2 {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
    font-weight: 700 !important;
    color: #db2777 !important;
  }
  .prose a {
    color: #db2777 !important;
    text-decoration: underline;
  }
}